.product-container {
  padding: 50px;
  background: #f8fafc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.product-container h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}